# /etc/systemd/system/docker-compose-dcm4chee.service

[Unit]
Description=Docker Compose DCM4CHEE Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/dcm4chee-arc-psql
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

#
# systemctl enable docker-compose-dcm4chee
